/*      XAQ-team      */

/* Общее */
:root {
    --primary: rgb(40, 90, 150);
    --primary-darker: rgb(25, 75, 135);
}

html {
    overflow-y: scroll !important;
    overflow-x: hidden;
}
html, body {
    background: rgb(50, 50, 50);
    color: rgb(214, 214, 214);
    font: 13px/1.231 arial, helvetica, clean, sans-serif;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.fas, .fab {
    color: var(--primary);
}
.button {
    cursor: pointer;
    font-style: normal;
    line-height: 33px;
    color: rgb(245, 245, 245);
    background: rgb(70, 70, 70);
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    transition: background 0.5s;
    overflow: hidden;
}
.button:hover {
    background: rgb(65, 65, 65);
}
.button.primary {
    color: rgb(245, 245, 245);
    background: var(--primary);
}
.button.primary:hover {
    background: var(--primary-darker);
}
.button.green {
    color: rgb(255, 255, 255);
    background: rgb(64,199,129);
}
.button.green:hover {
    background: rgb(53, 167, 110);
}
.button.red {
    color: rgb(245, 245, 245);
    background: rgb(199, 64, 64);
}
.button.red:hover {
    background: rgb(167, 53, 68);
}

/* Шапка */
header {
    height: 50px;
    width: 100%;
    background: rgb(60, 60, 60);
    position: fixed;
    font-weight: 600;
}
.header-flexbox {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
}
.logo {
    height: 100%;
    margin: 3px 0;
    width: min-content;
}
#logo-img {
    height: 44px; /* 3px padding from sides */
    width: auto;
    float: left;
}
.navigation {

}
.navigation-list {
    padding: 0 10px;
    margin: 0;
    display: flex;
    list-style: none;
    height: 100%;
}
.navigation-items {
    width: 100px;
    height: 100%;
}
.navigation-items:hover {
    border-bottom: 1px solid var(--primary);
}
.navigation-link {
    height: 100%;
    display: block;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
}
.navigation-link:hover {
    color: #ffffff;
}
.socials {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.socials-icons {
    font-size: 20px;
    padding: 10px;
    margin: 0 5px;
    transition: background 0.5s;
}
.socials-icons:hover {
    color: var(--primary-darker);
}
#drop-down-menu {
    display: none;
    width: 100%;
    padding: 0 15px;
    font-size: 20px;
    line-height: 50px;
    text-align: right;
}
#ddm-icon {
    cursor: pointer;
}

/* Основное меню */
#header-indentation { height: 70px; }
main {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
}
.main-content {
    width: 100%;
    background: rgb(60, 60, 60);
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}
.title-area {
    padding: 5px 5px 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(50, 50, 50);
}
.title-text h1 {
    margin-top: 5px;
    margin-bottom: 0;
}
.title-description {
    margin-left: 15px;
}
.title-description p {
    color: rgb(150, 150, 150);
    font-size: 12px;
    margin: 0;
}
.information-area {
    padding: 0 10px;
}
.main-sidebar {
    width: 200px;
}
.sidebar-block:nth-of-type(1) { margin-top: 0; }
.sidebar-block {
    width: 100%;
    background: rgb(60, 60, 60);
    border-radius: 6px;
    margin: 20px 5px;
    padding: 15px 10px;
}
.sidebar-title {
    margin: 0 0 10px;
}
.sidebar-content {
    margin-left: 10px;
}

/*Адаптация под п.2 */
@media screen and (max-width: 1150px) {
    .main-sidebar {
        display: none;
    }
}

/*Адаптация под п.3 */
@media screen and (max-width: 750px) {
    .socials {
        display: none;
    }
    .navigation {
        position: absolute;
        display: block;
        overflow: hidden;
        top:50px;
        right: -200px;
        background: rgb(45, 45, 45);
        transition: 1s;
        border-radius: 0 0 0 10px;
    }
    .openedNavigation {
        right: 0;

    }
    .navigation .navigation-list {
        display: block;
        padding: 0 50px;
    }
    #drop-down-menu {
        display: block;
    }
}

/* Комментарии для тебя ) */
/*
Настройки ширины для адаптивной верстки:
    1. Стандартная ширина:         w > 1150px;
    2. Ширина для планшетов и тп:  750 > w > 1150px;
    3. Мобильные устр-ва:          w < 750;
*/

/*
Цвета сайта:
    Окрасочный цвет: rgb(118, 43, 173)
    Цвет темы: rgb(n, n, n) : n принадлежит { 50, 55, 60, 65, 70 }

    текст:
        основной: rgb(245, 245, 245)
        менее значимый: rgb(150, 150, 150)

    остальные цвета на усмотрение
*/